@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

section[epub|type~="preface"],
#a-journal-of-the-plague-year{
	margin-top: 20vh;
}

section[epub|type~="preface"] p{
	margin: 1em auto;
	max-width: 50%;
	text-indent: 0;
}

table.sums{
	border-spacing: 1em;
	font-variant-numeric: tabular-nums;
	margin: auto;
}

table.sums thead td{
	font-style: italic;
}

table.sums td{
	text-align: right;
	vertical-align: top;
}

table.sums td[colspan]{
	text-align: center;
}

table.sums tfoot td:not(.empty){
	border-top-style: solid;
	border-top-width: 1px;
}

figure{
	break-inside: avoid;
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figure p{
	text-indent: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}

blockquote header p{
	font-variant: small-caps;
	margin-bottom: 1em;
	margin-top: 2em;
}

blockquote > div > header p{
	font-style: italic;
	margin-bottom: 0;
	margin-top: 1em;
	text-align: center;
}

[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

blockquote:nth-last-of-type(2){
	margin-left: auto;
	margin-right: auto;
	max-width: 25%;
}

blockquote:nth-last-of-type(2) span:last-child{
	text-align: right;
}

cite{
	display: block;
	margin: 1em 0;
	text-align: right;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

table[epub|type~="z3998:drama"]{
	border-collapse: collapse;
	margin: 1em auto;
	width: 100%;
}

[epub|type~="z3998:drama"] tr:first-child td{
	padding-top: 0;
}

[epub|type~="z3998:drama"] tr:last-child td{
	padding-bottom: 0;
}

[epub|type~="z3998:drama"] td{
	padding: .5em;
	vertical-align: top;
}

[epub|type~="z3998:drama"] td:last-child{
	padding-right: 0;
}

[epub|type~="z3998:drama"] td:first-child{
	padding-left: 0;
}

[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
	hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
}

[epub|type~="z3998:persona"],
[epub|type~="z3998:signature"] i{
	font-variant: all-small-caps;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
